body {
    font-style: Arial, sans-serif;
    padding: 20px;
}

table {
    width: 50%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}

.total-row td {
    font-weight: bold;
}